@page "/"

<PageTitle>InventoryHub - Home</PageTitle>

<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <h1 class="display-4">Welcome to InventoryHub</h1>
            <p class="lead">
                A modern inventory management system built with Blazor WebAssembly and ASP.NET Core.
            </p>
            <hr class="my-4">
            <p>
                This application demonstrates full-stack development with:
            </p>
            <ul>
                <li><strong>Blazor WebAssembly</strong></li>
                <li><strong>ASP.NET Core</strong> </li>

            </ul>
            <a class="btn btn-primary btn-lg" href="/fetchproducts" role="button">
                View Products <i class="fas fa-arrow-right"></i>
            </a>
        </div>

    </div>
</div>
